.main_card {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotateX(0deg);
    transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
    width: 27em;
    /* fonts */
    color: #414f57;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

.wrapper {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
    border-style: solid;
}

.wrapper:before {
    content: '';
    display: block;
}

.avatar {
    width: 100%;
    max-width: 500px;
}

.icons li {
    display: inline-block;
    margin-right: 20px; /* adjust as needed for spacing */
}
